@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

*,
::before,
::after {
  box-sizing: border-box;
}

:root {
  --clr-body: hsl(215, 28%, 53%);
  --clr-primary: hsl(0, 0%, 100%);
  --clr-secondry: hsl(267, 26%, 54%);
}

body {
  margin: 0;
  padding: 0;
  padding: 2em 0;
  font-family: "Roboto", sans-serif;
  background-color: var(--clr-body);
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

h1 {
  font-size: 2.5rem;
}

.container {
  width: 70vw;
  max-width: 350px;
  border-radius: 1em;
  box-shadow: -3px 3px 5px 6px rgba(75, 74, 74, 0.43);
  -webkit-box-shadow: -3px 3px 5px 6px rgba(75, 74, 74, 0.43);
  -moz-box-shadow: -3px 3px 5px 6px rgba(75, 74, 74, 0.43);
  margin: 0 auto;
  background-color: var(--clr-primary);
  padding: 2em 0;
  max-height: 90vh;
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.container::-webkit-scrollbar {
  display: none;
}

header {
  text-align: center;
  background-color: var(--clr-secondry);
  color: var(--clr-primary);
}

.field {
  margin-top: 2em;
  display: flex;
  justify-content: center;
  display: flex;
  justify-content: space-between;
  padding: 0 1.5em;
}

.field input {
  border: none;
  outline: none;
  width: 75%;
  border-bottom: 2px solid var(--clr-secondry);
  padding: 0.5em 1em;
  font-size: 1.3rem;
}

.field input::placeholder {
  text-align: center;
  font-size: 1.5rem;
}

button {
  border: none;
  background-color: var(--clr-secondry);
  color: white;
  padding: 0;
}

.add {
  width: 50px;
  border-radius: 50%;
  font-size: 1.6rem;
}

.task-item {
  /* background-color: violet; */
  margin-top: 1.8em;
  display: flex;
  align-items: center;
  padding: 0.3em 1.5em;
  transition: background-color 0.2s ease-in-out;
}

.task-item:hover {
  background-color: black;
}

.btn {
  border-radius: 50%;
  font-weight: bold;
  padding: 0.5em 0.5em 0.3em 0.5em;
  margin-right: 0.5em;
  font-size: 1rem;
}

.task-name {
  margin-left: 0.8em;
}

.task-name p {
  font-size: 1.3rem;
  color: var(--clr-secondry);
}
